body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    vertical-align: middle;
}
.container{
    width: 100%;
    overflow: hidden;
}
.top{
    width: 100%;
    height: 29px;
    border-bottom: 1px solid #e5e1df;
}
.head{
    width: 1190px;
    height: 96px;
    margin: 0 auto;
    position: relative;
}
.head .welcome{
    width: 150px; 
    float: left;
    height: 100%;
    line-height: 96px;
    color: #4c4846;
    font-family: "宋体";
}
.rightlogo{
    margin-left: 60px;
}
.logo,.searchbox,.navlist{
    float: left;
}
.searchbox{
    width: 340px;
    height: 41px;
    margin: 29px 0 0 60px;
}
.search{
    width: 340px;
    height: 40px;
    position: relative;
}
.head .login,.head .sign{
    font-size: 14px;
    display: inline-block;
    margin: 0 10px;
    width: 30px;
    height: 100%;
    line-height: 96px;
    float: left;
    color: #99918b;
}
.head .name,.head .out{
    color: #f60;
    position: absolute;
    top: 37px;
    right: 90px;
}
.head .name{
    color: #f00;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}
.head .out{
    top: 40px;
    right: 30px;
    color: #807974;
    font-size: 12px;
}
.head .login{
    color: #f60;
    margin-left: 150px;
}
.shopcarbox{
    position: absolute;
    top: 37px;
    right: 255px;
    width: 100px;
    color: #f00;
    font-size: 16px;
}
.shopcarbox .shopcar{
    color: #8c8c8c;
    font-size: 18px;
    font-family: "隶书";
}
.shopcar{
    cursor: pointer;
}
.shopcarbox .shopcar:hover{
    color: #f00;
}
.lis{
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 99;
}
.lis li{
    background: #fff;
    border: 1px solid #99918b;
    border-top: none;
    border-bottom-color: #e6e1df;
    width: 340px;
    font-size: 16px;
    text-indent: 10px;
    line-height: 18px;
    height: 18px;
    cursor: pointer;
}
/* .lis li:last-child{
    border-bottom-color: #99918b;
} */
.lis li:hover{
    color: #f60;
}
.puttxt{
    position: relative;
    padding: 5px 40px 5px 0;
    border: 1px solid #e5e1df;
    width: 100%;
    height: 40px;
    background: none;
    font-size: 14px;
    box-sizing: border-box;
    border-radius: 5px;
    line-height: 40px;
    text-indent: 10px;
}
.search .fdj{
    color: orange;
    position: absolute;
    top: 9px;
    right: 12px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    cursor: pointer;
}
.navbox{
    width: 100%;
    height: 38px;
    border-top:1px solid #e5e1df; 
    border-bottom:1px solid #e5e1df; 
    position: relative;
}
.nav{
    width: 1190px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.Classify{
    width: 140px;
    height: 38px;
    background: #33302e;
    color:white;
    font-size: 14px;
    text-align: center;
    line-height: 38px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
.Classify:hover .secnav{
    display: block;
}
.navlist{
    position: absolute;
    top: 0;
    left: 180px;
}
.navlist a{
    color: #33302e;
}
.navlist li{
    float: left;
    padding: 0 25px;
    line-height: 38px;
    font-size: 14px;
    font-weight: bold;
}
.navlist li .liactive{
    border-bottom: 1px solid #f60;
    color: #f60;
}
.secnav{
    width: 240px;
    height: 444px;
    background: #33302e;
    position: absolute;
    top: -1px;
    left: 0;
    position: relative;
    display: none;
    z-index: 2;
}
.secnav>div{
    width: 220px;
    height: 52px;
    border-top: 1px solid #423f3c;
    /* box-sizing: border-box; */
    padding: 18px 0 18px 20px;
    text-align: left;   
}
.secnav .one{
    border-top: none;
    cursor: default;
}
.secnav .onetop{
    width: 220px;
    height: 25px;
    line-height: 25px;
    display: flex;
}
.secnav .iconfont{
    color: #99918b;
    font-size: 25px;
}
.secnav a{
    color: #99918b;
    font-size: 14px;
}
.left10{
    margin-left: 10px;
}
.secnav .onebot{
    width: 220px;
}
.secnav .onebot a{
    font-size: 12px;
    margin-top: 20px;
    margin-left: 10px;
}
.secnav .one .navactive{
    color: #f60;
}
.Leftnav{
    width: 50px;
    height: 344px;
    position: fixed;
    left: 260px;
    top: 50%;
    margin-top: -100px;
    z-index: 100;
    background: #fff;
    font-size: 12px;
    opacity: 0;
}
.Leftnav li{
    width: 48px;
    height: 48px;
    border: 1px solid #e6e1df;
    line-height: 48px;
    text-align: center;
    color: #99918b;
    cursor: pointer;
}
.Leftnav .active{
    color: #f60;
}
.rignav{
    position: fixed;
    z-index: 100;
    right: 0px;
    top: 50%;
    margin-top: -124px;
    width: 60px;
    height: 248px;
}
.rignav li{
    width: 100%;
    height: 60px;
    margin-top: 2px;
    background: #99918b;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    color: #fff;
    position: relative;
}
.rignav li:hover{
    cursor: pointer;
}
.rignav li:nth-child(3){
    background: #f60;
}
.rignav li:nth-child(4):hover .app{
    display: block;
}
.app{
    width: 140px;
    height: 300px;
    position: absolute;
    top: -120px;
    left: -142px;
    display: none;
}
.xiding{
    width: 100%;
    height: 0px;
    box-shadow: 1px 1px 2px #000;
    position: fixed;
    z-index: 101;
    top: 0;
    background: #fff;
    opacity: 0;
}
.xdbox{
    width: 1190px;
    height: 100%;
    margin: 0 auto;
}
.xdnav li{
    float: left;
    line-height: 60px;
    margin-left: 50px;
}
.xdnav li a{
    color: #000;
    font-size: 14px;
    font-weight: bold;
}
.xiding .searchbox{
    margin-top: 10px;
}
.xdnav .active a{
    color: #f60;
}
.xdnav .active a{
    border-bottom: 2px solid #f60;
}
.one:hover{
    background: #4c4846;
}
.thrnav{
    width: 718px;
    height: 382px;
    position: absolute;
    top: 0;
    left: 240px;
    background: #4c4846;
    padding: 30px 50px 32px 0;
    display: none;
}
.thrleftbot{
    position: absolute;
    top: 140px;
    width: 453px;
    display: flex;
    color: #e5e1df;
    z-index: 1;
}
.thrleftbot .thrlist{
    margin-left: 0px;
    line-height: 38px;
}
.thrleft{
    width: 453px;
    height: 76px;
    display: flex;
    float: left;
}
.thrlist{
    width: 343px;
    /* height: 48px; */
    padding-left: 20px;
    line-height: 22px;
}
.thrlist a{
    font-size: 12px;
    line-height: 12px;
    color: #e6e1df;
}
.thrleft .size18,.thrleftbot .size18{
    font-size: 18px;
    margin-left: 18px;
    color: #e6e1df;
}
.thrlist span{
    padding: 0 7px;
}
.thrright{
    width: 240px;
    height: 408px;
    float: right;
    text-align: center;
}
.thrright a{
    width: 240px;
    height: 186px;
}
.thrright a img{
    width: 100%;
}
.thrright a:hover span,.thrleft a:hover,.one a:hover{
    color: #f60;
}
.one:hover .thrnav{
    display: block;
}
.banner{
    width: 100%;
    height: 444px;
}
.banner .swiper-container{
    height: 100%;
}
.banner .swiper-container .swiper-slide{
    height: 444px;
}
.banner .swiper-container .swiper-slide img{
    width: 100%;
}
.swiper-button-prev{
    margin-left: 350px;
    width: 59px;
    height: 80px;
    background: rgba(0, 0, 0, 0.2);
    font-size: 70px;
    color: #eee;
    text-align: center;
    line-height: 80px;
    font-family: "宋体";
}
.swiper-button-next{
    margin-right: 350px;
    width: 59px;
    height: 80px;
    background: rgba(0, 0, 0, 0.2);
    font-size: 70px;
    color: #eee;
    text-align: center;
    line-height: 80px;
    font-family: "宋体";
    
}
.swiper-pagination-bullet-active{
    background:#fff!important;
    
}
.swiper-container-horizontal>.swiper-pagination-bullets{
    bottom: 10px;
    left: 49%;
    height: 18px;
    line-height: 15px;
    border-radius: 8px;
    background:rgba(0, 0, 0, 0.2);
    width: 40px;
}
.swiper-pagination-bullet{
    width: 10px!important;
    height: 10px!important;
}
.banner img{
    width: 100%;
}
.goodbox{
    width: 1190px;
    margin: 50px auto;
    overflow: hidden;
}
.goodbox h2{
    color: #33302e;
    font-size: 30px;
    font-weight: 400;
}
.goodbox ul{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.goodbox li{
    width: 275px;
    height: 170px;
    position: relative;
    text-align: center;
    overflow: hidden;
}
.goodbox li img{
    width: 100%;
    -webkit-transition:-webkit-transform 1s ease 0s;
　　transition:transform 1s ease 0s;
　　-webkit-transform-origin:center;
　　transform-origin:center;
}
.goodbox li:hover img{
    -webkit-transform: scale(1.2);
　　transform: scale(1.2);
}
.good{
    width: 237px;
    height: 62px;
    border:2px solid #fff;
    position: absolute;
    bottom: 15px;
    left: 17px;
}
.cot{
    width: 233px;
    height: 58px;
    position: absolute;
    background:rgba(255, 255, 255,.8);
    /* background: #fff; */
    top: 2px;
    left: 2px;
    text-align: center;
    line-height: 58px;
    font-size: 14px;
}
.notice{
    width: 1210px;
    height: 750px;
    margin: 0 auto;
}
.notice li{
    width: 390px;
    height: 240px;
    margin: 0 0 10px 10px;
    position: relative;
    float: left;
}
.notice li a{
    color: #33302e;
}
.notice li img{
    width: 100%;
}
.notice li p{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.rmb{
    font-size: 14px;
}
.price{
    font-size: 18px;
    font-weight: bold;
}
.notice li.ct{
    text-align: center;
    box-sizing: border-box;
    padding-top: 106px;
}
.notice li.ct h4{
    height: 41px;
    font-size: 30px;
}
.notice li.ct :nth-child(1){
    font-weight: normal;
}
.notice li.ct :nth-child(2){
    color: #e5e1df;
}
.store{
    width: 100%;
    height: 699px;
    background: #f5f3f2;
    margin-top: 100px;
}
.store select{
    border: none;
    background: #f5f3f2;
}
.store .box{
    width: 1190px;
    margin: 0 auto;
    padding: 50px 0;
}
.storeleft{
    width: 390px;
    margin-left: 100px;
    float: left;
}
.storeleft h2{
    width: 390px;
    text-align: center;
    font-size: 30px;
    color: #33302e;
    font-weight: normal;
}
.storeaddress{
    width: 390px;
    margin: 45px 0 15px 0;
    display: flex;
}
.storeaddress div{
    margin-right: 20px;
    font-size: 14px;
    cursor: pointer;
}
.sto{
    width: 390px;
}
.dizhi{
    display: block;
    width: 349px;
    height: 36px;
    margin: 17px auto 0;
    font-size: 12px;
    color: #99918b;
    line-height: 18px;
    text-align: center;
}
.phone{
    display: block;
    width: 390px;
    text-align: center;
    font-size: 12px;
    color: #99918b;
    line-height: 18px;
}
.findus{
    width: 390px;
    display: block;
    text-align: center;
    font-size: 12px;
    color: #99918b;
    line-height: 18px;
    margin-top: 40px;
}
.findus span{
    padding: 0 5px;
}
.findus a{
    color: #99918b;
}
.findus a:hover{
    color: #f60;
}
.storeright{
    width: 590px;
    height: 599px;
    float: right;
}
.storeright .guding{
    float: right;
}
.storeright ul li{
    width: 290px;
    height: 193px;
    margin-top: 10px;
    position: relative;
}
.storeright ul li span{
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 11px;
    height: 20px;
    width: 100%;
    font-size: 14px;
    text-align: right;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0) 58%);
}
.storeright ul li:nth-child(1){
    margin-top: 0;
}
.storeright ul li a,.storeright ul li a img{
    width: 100%;
}
.storeright ul li:nth-child(4){
    float: right;
}
.storeright ul li:nth-child(3){
    float: left;
}
.sto img{
    width: 100%;
}
.bedroom{
    margin: 100px auto;
    width: 1190px;
    height: 1110px;
    position: relative;
}
.bdtop{
    width: 440px;
    padding-top: 150px;
}
.bdl1{
    text-align: center;
}
.bdl1 h4{
    font-size: 30px;
    font-weight: normal;
}
.bdl1 p{
    margin-top: 30px;
}
.bdl1 p a{
    color: #99918b;
    font-size: 14px;
}
.bdl2{
    width: 440px;
    padding: 90px 0 50px 0;
    text-align: right;
}
.bdtit a{
    font-size: 18px;
    color: #33302e;
    line-height: 38px;
}
.bdjs a{
    border-top: 1px solid #99918b;
    color: #33302e;
    line-height: 30px;
}
.bdsp{
    font-size: 14px;
    color: #33302e;
    line-height: 10px;
}
.bdimg{
    display: block;
    width: 740px;
    height: 493px;
    position: absolute;
    top: 0;
    right: 0;
}
.bdimg img{
    width: 100%;
}
.bdbot{
    height: 670px;
    background: #f5f3f2;
    padding-top: 90px;
    box-sizing: border-box;
}
.bdl1 a:hover,.bdl2 a:hover{
    color: #f60;
}
.bdbot li{
    width: 290px;
    height: 290px;
    margin-left: 60px;
    float: left;
    text-align: center;
}
.bdbot img{
    width: 100%;
    height: 193.33px;
}
.bdbot .tit{
    line-height: 32px;
}
.bdbot .tit a{
    font-size: 14px;
    color: #33302e;
}
.bdbot .js{
    line-height: 30px;
    border-top: 1px solid #99918b;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.bdbot .js a{
    font-size: 12px;
    color: #99918b;
}
.bdbot .sp{
    line-height: 12px;
    font-size: 14px;
    color: #33302e;
}
.classifybox{
    width: 100%;
    height: 870px;
    background: #f5f3f2;
    box-sizing: border-box;
    padding: 50px 0;
}
.classify{
    width: 910px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.classify div{
    overflow: hidden;
}
.classify .tea{
    width: 140px;
    height: 140px;
    position: absolute;
    top: 50px;
    left: 160px;
}
.classify  a{
    display: block;
    width: 100%;
    height: 100%;
}
.classify  a:hover{
    margin-left: 5px;
    transition: 200ms;
}
.classify .sofa{
    width: 240px;
    height: 380px;
    position: absolute;
    top: 0px;
    left: 310px;
}
.classify .table{
    width: 190px;
    height: 222px;
    position: absolute;
    top: 160px;
    left: 560px;
}
.classify .desk{
    width: 140px;
    height: 222px;
    position: absolute;
    top: 160px;
    left: 760px;
}
.classify .matt{
    width: 290px;
    height: 179px;
    position: absolute;
    top: 200px;
    left: 10px;
}
.classify .chi{
    width: 190px;
    height: 301px;
    position: absolute;
    top: 390px;
    left: 110px;
}
.classify .bed{
    width: 240px;
    height: 380px;
    position: absolute;
    top: 390px;
    left: 310px;
}
.classify .off{
    width: 340px;
    height: 210px;
    position: absolute;
    top: 390px;
    left: 560px;
}
.classify .war{
    width: 140px;
    height: 160px;
    position: absolute;
    top: 610px;
    left: 560px;
}
.evaluata{
    width: 1190px;
    height: 475px;
    margin: 0 auto;
    margin-top: 50px;
}
.evatop{
    display: flex;
    justify-content: space-between;
    padding: 0
}
.evatop h4{
    font-size: 30px;
    font-weight: normal;
}
.swiper-wrapper1 .swiper-slide>a{
    display: block;
    width: 290px;
    height: 190px;
}
.user{
    width: 270px;
    margin-left: 10px;
    border-bottom: 1px solid #99918b;
}
.user a{
    display: inline-block;
    width: 180px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #99918b;  
}
.user a:hover{
    color: #f60;
    cursor: pointer;
}
.user span{
    width: 40px;
    height: 30px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    line-height: 30px;
    float: right;
    font-weight: bold;
}
.pingjia{
    width: 270px;
    height: 50px;
    margin-left: 10px;
    /* word-wrap: break-word; */
    white-space: normal;
    font-size: 12px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.swiper-slide p{
    width: 270px;
    height: 15px;
    margin-top: 15px;
    margin-left: 10px;
    color: #99918b;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
.swiper-slide p span:first-child:hover{
    color: #f60;
    cursor: pointer;
}
.request,.add{
    font-family: "宋体";
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: #e5e1df;
    margin: 10px 2px ;
    cursor: pointer;
}
.evaluata .swiper-container1{
    width: 1190px;
    height: 475px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}
.evaluata .swiper-wrapper1{
    position: absolute;
}
.evaluata .swiper-slide{
    width: 290px;
    margin-left: 3px;
    display: inline-block;
}
.evaluata .swiper-slide img{
    width: 290px;
    height: 190px;
}
.usbox{
    width: 100%;
    background: #99918b;
}
.us{
    width: 1190px;
    height: 120px;
    margin:  0 auto;
    margin-top: 100px;
    padding: 50px 0;
}
.us{
    display: flex;
}
.us .email{
    width: 350px;
    font-size: 12px;
    color: #fff;
}
.us .email span{
    font-size: 18px;
    font-weight: normal;
    margin-left: 15px;
}
.advantage{
    width: 460px;
    height: 120px;
    padding: 0 43px 0 50px;
    border-right: 1px solid #807974;
    border-left: 1px solid #807974;
}
.advantage li{
    float: left;
    width: 190px;
    height: 40px;
    margin: 0 10px 20px 0;
}
.advantage li a{
    font-size: 18px;
    color: #fff;
}
.advantage li a img{
    width: 40px;
    height: 40px;
}
.us .ewm{
    display: flex;
    margin-left: 170px;
}
.ewm img{
    width: 90px;
    height: 90px;   
}
.us .ewm li{
    text-align: center;
    color: #fff;
    width: 90px;
    margin-left: 20px;
    font-size: 12px;
}
.us .ewm li a{
    display: block;
    width:88px;
    height: 38px;
    border: 1px solid #fff;
    font-size: 12px;
    color: #fff;
    line-height: 38px;
    text-align: center;
}
.us .ewm li :last-child{
    margin-top: -6px;
}
.footer{
    width: 1190px;
    height: 140px;
    margin: 0 auto;
    margin-top: 40px;
}
.footer p{
    font-size: 12px;
    text-align: center;
    color: #99918b;
}
.footer p a{
    color: #99918b;
}
.footer p a:hover{
    color: #f60;
}
.approve{
    height: 40px;
    margin-top: 20px;
    padding-left: 380px;
}
.approve img{
    float: left;
    width: 90px;
    height: 40px;
    cursor: pointer;
    margin: 0 5px;
}















