body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    vertical-align: middle;
}
.container{
    width: 100%;
    overflow: hidden;
}
.top{
    width: 100%;
    height: 29px;
    border-bottom: 1px solid #e5e1df;
}
.head{
    width: 1190px;
    height: 96px;
    margin: 0 auto;
}
.rightlogo{
    margin-left: 60px;
}
.logo,.searchbox,.navlist{
    float: left;
}
.searchbox{
    width: 340px;
    height: 41px;
    margin: 29px 0 0 60px;
}
.search{
    width: 340px;
    height: 40px;
    position: relative;
}
.puttxt{
    position: relative;
    padding: 5px 40px 5px 0;
    border: 1px solid #e5e1df;
    width: 100%;
    height: 40px;
    background: none;
    font-size: 14px;
    box-sizing: border-box;
    border-radius: 5px;
    line-height: 40px;
    text-indent: 10px;
}
.search .fdj{
    color: orange;
    position: absolute;
    top: 9px;
    right: 12px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    cursor: pointer;
}
.navbox{
    width: 100%;
    height: 38px;
    border-top:1px solid #e5e1df; 
    border-bottom:1px solid #e5e1df; 
    position: relative;
}
.nav{
    width: 1190px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.Classify{
    width: 140px;
    height: 38px;
    background: #33302e;
    color:white;
    font-size: 14px;
    text-align: center;
    line-height: 38px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
.Classify:hover .secnav{
    display: block;
}
.navlist{
    position: absolute;
    top: 0;
    left: 180px;
}
.navlist a{
    color: #33302e;
}
.navlist li{
    float: left;
    padding: 0 25px;
    line-height: 38px;
    font-size: 14px;
    font-weight: bold;
}
.navlist li .liactive{
    border-bottom: 1px solid #f60;
    color: #f60;
}
.secnav{
    width: 240px;
    height: 444px;
    background: #33302e;
    position: absolute;
    top: -1px;
    left: 0;
    position: relative;
    display: none;
}
.secnav>div{
    width: 220px;
    height: 52px;
    border-top: 1px solid #423f3c;
    /* box-sizing: border-box; */
    padding: 18px 0 18px 20px;
    text-align: left;   
}
.secnav .one{
    border-top: none;
    cursor: default;
}
.secnav .onetop{
    width: 220px;
    height: 25px;
    line-height: 25px;
    display: flex;
}
.secnav .iconfont{
    color: #99918b;
    font-size: 25px;
}
.secnav a{
    color: #99918b;
    font-size: 14px;
}
.left10{
    margin-left: 10px;
}
.secnav .onebot{
    width: 220px;
}
.secnav .onebot a{
    font-size: 12px;
    margin-top: 20px;
    margin-left: 10px;
}
.secnav .one .navactive{
    color: #f60;
}
.one:hover{
    background: #4c4846;
}
.thrnav{
    width: 718px;
    height: 382px;
    position: absolute;
    top: 0;
    left: 240px;
    background: #4c4846;
    padding: 30px 50px 32px 0;
    display: none;
}
.thrleftbot{
    position: absolute;
    top: 140px;
    width: 453px;
    display: flex;
    color: #e5e1df;
    z-index: 1;
}
.thrleftbot .thrlist{
    margin-left: 0px;
    line-height: 38px;
}
.thrleft{
    width: 453px;
    height: 76px;
    display: flex;
    float: left;
}
.thrlist{
    width: 343px;
    /* height: 48px; */
    padding-left: 20px;
    line-height: 22px;
}
.thrlist a{
    font-size: 12px;
    line-height: 12px;
    color: #e6e1df;
}
.thrleft .size18,.thrleftbot .size18{
    font-size: 18px;
    margin-left: 18px;
    color: #e6e1df;
}
.thrlist span{
    padding: 0 7px;
}
.thrright{
    width: 240px;
    height: 408px;
    float: right;
    text-align: center;
}
.thrright a{
    width: 240px;
    height: 186px;
}
.thrright a img{
    width: 100%;
}
.thrright a:hover span,.thrleft a:hover,.one a:hover{
    color: #f60;
}
.one:hover .thrnav{
    display: block;
}
.banner{
    width: 100%;
    height: 444px;
}
.banner img{
    width: 100%;
}
.goodbox{
    width: 1190px;
    margin: 50px auto;
    overflow: hidden;
}
.goodbox h2{
    color: #33302e;
    font-size: 30px;
    font-weight: 400;
}
.goodbox ul{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.goodbox li{
    width: 275px;
    height: 170px;
    position: relative;
    text-align: center;
    overflow: hidden;
}
.goodbox li img{
    width: 100%;
    -webkit-transition:-webkit-transform 1s ease 0s;
　　transition:transform 1s ease 0s;
　　-webkit-transform-origin:center;
　　transform-origin:center;
}
.goodbox li:hover img{
    -webkit-transform: scale(1.2);
　　transform: scale(1.2);
}
.good{
    width: 237px;
    height: 62px;
    border:2px solid #fff;
    position: absolute;
    bottom: 15px;
    left: 17px;
}
.cot{
    width: 233px;
    height: 58px;
    position: absolute;
    background:rgba(255, 255, 255,.8);
    /* background: #fff; */
    top: 2px;
    left: 2px;
    text-align: center;
    line-height: 58px;
    font-size: 14px;
}
.notice{
    width: 1210px;
    height: 750px;
    margin: 0 auto;
}
.notice li{
    width: 390px;
    height: 240px;
    margin: 0 0 10px 10px;
    position: relative;
    float: left;
}
.notice li a{
    color: #33302e;
}
.notice li img{
    width: 100%;
}
.notice li p{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.rmb{
    font-size: 14px;
}
.price{
    font-size: 18px;
    font-weight: bold;
}
.notice li.ct{
    text-align: center;
    box-sizing: border-box;
    padding-top: 106px;
}
.notice li.ct h4{
    height: 41px;
    font-size: 30px;
}
.notice li.ct :nth-child(1){
    font-weight: normal;
}
.notice li.ct :nth-child(2){
    color: #e5e1df;
}
.store{
    width: 100%;
    height: 699px;
    background: #f5f3f2;
    margin-top: 100px;
}
.store .box{
    width: 1190px;
    margin: 0 auto;
    padding: 50px 0;
}
.storeleft{
    width: 390px;
    margin-left: 100px;
}
.storeleft h2{
    width: 390px;
    text-align: center;
    font-size: 30px;
    color: #33302e;
    font-weight: normal;
}
.storeaddress{
    width: 390px;
    margin: 45px 0 15px 0;
    display: flex;
}
.storeaddress div{
    margin-right: 20px;
    font-size: 14px;
    cursor: pointer;
}
.bedroom{
    margin: 100px auto;
    width: 1190px;
    height: 1110px;
    position: relative;
}
.bdtop{
    width: 440px;
    padding-top: 150px;
}
.bdl1{
    text-align: center;
}
.bdl1 h4{
    font-size: 30px;
    font-weight: normal;
}
.bdl1 p{
    margin-top: 30px;
}
.bdl1 p a{
    color: #99918b;
    font-size: 14px;
}
.bdl2{
    width: 440px;
    padding: 90px 0 50px 0;
    text-align: right;
}
.bdtit a{
    font-size: 18px;
    color: #33302e;
    line-height: 38px;
}
.bdjs a{
    border-top: 1px solid #99918b;
    color: #33302e;
    line-height: 30px;
}
.bdsp{
    font-size: 14px;
    color: #33302e;
    line-height: 10px;
}
.bdimg{
    display: block;
    width: 740px;
    height: 493px;
    position: absolute;
    top: 0;
    right: 0;
}
.bdimg img{
    width: 100%;
}
.bdbot{
    height: 670px;
    background: #f5f3f2;
    padding-top: 90px;
    box-sizing: border-box;
}
.bdl1 a:hover,.bdl2 a:hover{
    color: #f60;
}
.bdbot li{
    width: 290px;
    height: 290px;
    margin-left: 60px;
    float: left;
    text-align: center;
}
.bdbot img{
    width: 100%;
    height: 193.33px;
}
.bdbot .tit{
    line-height: 32px;
}
.bdbot .tit a{
    font-size: 14px;
    color: #33302e;
}
.bdbot .js{
    line-height: 30px;
    border-top: 1px solid #99918b;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.bdbot .js a{
    font-size: 12px;
    color: #99918b;
}
.bdbot .sp{
    line-height: 12px;
    font-size: 14px;
    color: #33302e;
}
.classifybox{
    width: 100%;
    height: 870px;
    background: #f5f3f2;
    box-sizing: border-box;
    padding: 50px 0;
}
.classify{
    width: 910px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.classify div{
    overflow: hidden;
}
.classify .tea{
    width: 140px;
    height: 140px;
    position: absolute;
    top: 50px;
    left: 160px;
}
.classify  a{
    display: block;
    width: 100%;
    height: 100%;
}
.classify  a:hover{
    margin-left: 5px;
    transition: 200ms;
}
.classify .sofa{
    width: 240px;
    height: 380px;
    position: absolute;
    top: 0px;
    left: 310px;
}
.classify .table{
    width: 190px;
    height: 222px;
    position: absolute;
    top: 160px;
    left: 560px;
}
.classify .desk{
    width: 140px;
    height: 222px;
    position: absolute;
    top: 160px;
    left: 760px;
}
.classify .matt{
    width: 290px;
    height: 179px;
    position: absolute;
    top: 200px;
    left: 10px;
}
.classify .chi{
    width: 190px;
    height: 301px;
    position: absolute;
    top: 390px;
    left: 110px;
}
.classify .bed{
    width: 240px;
    height: 380px;
    position: absolute;
    top: 390px;
    left: 310px;
}
.classify .off{
    width: 340px;
    height: 210px;
    position: absolute;
    top: 390px;
    left: 560px;
}
.classify .war{
    width: 140px;
    height: 160px;
    position: absolute;
    top: 610px;
    left: 560px;
}
.evaluata{
    width: 1190px;
    height: 475px;
    margin: 0 auto;
    margin-top: 50px;
    background: #f60;
}
.evatop{
    display: flex;
    justify-content: space-between;
    padding: 0
}
.evatop h4{
    font-size: 30px;
    font-weight: normal;
}
.evatop span{
    font-family: "宋体";
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #f5f3f2;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}
.usbox{
    width: 100%;
    background: #99918b;
}
.us{
    width: 1190px;
    height: 120px;
    margin:  0 auto;
    margin-top: 100px;
    padding: 50px 0;
}
.us{
    display: flex;
}
.us .email{
    width: 350px;
    font-size: 12px;
    color: #fff;
}
.us .email span{
    font-size: 18px;
    font-weight: normal;
    margin-left: 15px;
}
.advantage{
    width: 460px;
    height: 120px;
    padding: 0 43px 0 50px;
    border-right: 1px solid #807974;
    border-left: 1px solid #807974;
}
.advantage li{
    float: left;
    width: 190px;
    height: 40px;
    margin: 0 10px 20px 0;
}
.advantage li a{
    font-size: 18px;
    color: #fff;
}
.advantage li a img{
    width: 40px;
    height: 40px;
}
.us .ewm{
    display: flex;
    margin-left: 170px;
}
.ewm img{
    width: 90px;
    height: 90px;   
}
.us .ewm li{
    text-align: center;
    color: #fff;
    width: 90px;
    margin-left: 20px;
    font-size: 12px;
}
.us .ewm li a{
    display: block;
    width:88px;
    height: 38px;
    border: 1px solid #fff;
    font-size: 12px;
    color: #fff;
    line-height: 38px;
    text-align: center;
}
.us .ewm li :last-child{
    margin-top: -6px;
}
.footer{
    width: 1190px;
    height: 140px;
    margin: 0 auto;
    margin-top: 40px;
}
.footer p{
    font-size: 12px;
    text-align: center;
    color: #99918b;
}
.footer p a{
    color: #99918b;
}
.footer p a:hover{
    color: #f60;
}
.approve{
    height: 40px;
    margin-top: 20px;
    padding-left: 380px;
}
.approve img{
    float: left;
    width: 90px;
    height: 40px;
    cursor: pointer;
    margin: 0 5px;
}















